<div xmlns:th="http://www.thymeleaf.org">
	<table class="table table-bordered" border="1">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Tên</th>
				<th scope="col">Miêu tả</th>
				<th scope="col">Giá</th>
				<th scope="col">Số lượng</th>
				<th scope="col">Danh mục</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
		<tr th:each="p :${products}">
				<th th:text="${p.id}"></th>
				<th th:text="${p.name}"></th>
				<th th:text="${p.description}"></th>
				<th th:text="${p.price}"></th>
				<th th:text="${p.description}"></th>
				<td>
					<button class="btn btn-primary">Sửa</button>
					<button class="btn btn-danger">Xóa</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>