       <div class="danhmuc">
        <div class="danhmuc-all">
            <div class="danhmuc-text">
            <p>DANH MỤC</p>
        </div>
            <div class="danhmuc-big">
            <div class="danhmuc-icon">
                <a href="#1"><img width="80px" height="80px" src="/assets/imagesicon-menu/ao.png" alt="">
                <p>Thời Trang Nam</p></a>
            </div>
            <div class="danhmuc-icon">
                <a href="#2"><img width="80px" height="80px" src="/assets/imagesicon-menu/iphone.png" alt="">
                <p>Điện Thoại & Phụ Kiện</p></a>
            </div>
            <div class="danhmuc-icon">
                <a href="#3"><img width="80px" height="80px" src="/assets/imagesicon-menu/pc.png" alt="">
                <p>Thiết Bị Điện Tử</p></a>
            </div>
            <div class="danhmuc-icon">
                <a href="#4"><img width="80px" height="80px" src="/assets/imagesicon-menu/laptop.png" alt="">
                <p>Máy Tính & Laptop</p></a>
            </div>
            <div class="danhmuc-icon">
                <a href="#5"><img width="80px" height="80px" src="/assets/imagesicon-menu/mâynh.png" alt="">
                <p>Máy Ảnh & Máy Quay Phim</p></a>
            </div>
                <div class="danhmuc-icon">
                    <a href="#6"><img width="80px" height="80px" src="/assets/imagesicon-menu/dongho.png" alt="">
                    <p>Đồng Hồ</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#7"><img width="80px" height="80px" src="/assets/imagesicon-menu/giay.png" alt="">
                    <p>Giày Dép Nam</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#8"><img width="80px" height="80px" src="/assets/imagesicon-menu/amnuoc.png" alt="">
                    <p>Thiết Bị Điện Gia Dụng</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#9"><img width="80px" height="80px" src="/assets/imagesicon-menu/quabong.png" alt="">
                    <p>Thể Thao & Du Lịch</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#10"><img width="80px" height="80px" src="/assets/imagesicon-menu/xemay.png" alt="">
                    <p>Ô Tô & Xe Máy & Xe Đạp</p></a>
                </div>
                
            </div>
            <div class="danhmuc-small">
                <div class="danhmuc-icon">
                    <a href="#1"><img width="80px" height="80px" src="/assets/imagesicon-menu/aonu.png" alt="">
                    <p>Thời Trang Nữ</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#2"><img width="80px" height="80px" src="/assets/imagesicon-menu/dochoi.png" alt="">
                    <p>Mẹ & Bé</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#3"><img width="80px" height="80px" src="/assets/imagesicon-menu/noi.png" alt="">
                    <p>Nhà Cửa & Đời Sống</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#4"><img width="80px" height="80px" src="/assets/imagesicon-menu/trangdiem.png" alt="">
                    <p>Sắc Đẹp</p></a>
                </div>
                <div class="danhmuc-icon">
                    <a href="#5"><img width="80px" height="80px" src="/assets/imagesicon-menu/thuoc.png" alt="">
                    <p>Sức Khỏe</p></a>
                </div>
                    <div class="danhmuc-icon">
                        <a href="#6"><img width="80px" height="80px" src="/assets/imagesicon-menu/depnu.png" alt="">
                        <p>Giày Dép Nữ</p></a>
                    </div>
                    <div class="danhmuc-icon">
                        <a href="#7"><img width="80px" height="80px" src="/assets/imagesicon-menu/tuisach.png" alt="">
                        <p>Túi Ví Nữ</p></a>
                    </div>
                    <div class="danhmuc-icon">
                        <a href="#8"><img width="80px" height="80px" src="/assets/imagesicon-menu/phukien.png" alt="">
                        <p>Phụ Kiện & Trang Sức Nữ</p></a>
                    </div>
                    <div class="danhmuc-icon">
                        <a href="#9"><img width="80px" height="80px" src="/assets/imagesicon-menu/socola.png" alt="">
                        <p>Bách Hóa Online</p></a>
                    </div>
                    <div class="danhmuc-icon">
                        <a href="#10"><img width="80px" height="80px" src="/assets/imagesicon-menu/sach.png" alt="">
                        <p>Nhà Sách Online</p></a>
                    </div>
                </div>
        </div>
        </div>