<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4">
                <h5>Về Shoppe</h5>
                <p>Shoppe là nền tảng mua sắm trực tuyến hàng đầu tại Việt Nam, đem đến những sản phẩm chất lượng với giá tốt nhất.</p>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-white text-decoration-none">Giới thiệu</a></li>
                    <li><a href="/contact" class="text-white text-decoration-none">Liên hệ</a></li>
                </ul>
            </div>

            <!-- Support Section -->
            <div class="col-md-4">
                <h5>Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled">
                    <li><a href="/help" class="text-white text-decoration-none">Trung tâm hỗ trợ</a></li>
                    <li><a href="/faq" class="text-white text-decoration-none">Câu hỏi thường gặp</a></li>
                    <li><a href="/returns" class="text-white text-decoration-none">Chính sách đổi trả</a></li>
                </ul>
            </div>

            <!-- Follow Us Section -->
            <div class="col-md-4">
                <h5>Theo dõi chúng tôi</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-twitter"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Shoppe. All rights reserved.</p>
        </div>
    </div>
</footer>
