<header class="row">
        <div class="slide-all">
            <div class="slide col">
                <div class="mySlides">
                    <img width="800px" height="404px" src="/assets/images/imageslide/shopee-flash-sale-4.jpg" alt="">
                </div>
                <div class="mySlides">
                    <img width="800px" height="404px" src="/assets/images/imageslide/anh5.jpg" alt="">
                </div>
                <div class="mySlides">
                    <img width="800px" height="404px" src="/assets/images/imageslide/anh1.webp" alt="">
                </div>
                <div class="mySlides">
                    <img width="800px" height="404px" src="/assets/images/imageslide/anh2.webp" alt="">
                </div>
                <div class="mySlides">
                    <img width="800px" height="404px" src="/assets/images/imageslide/NH3.webp" alt="">
                </div>
            </div>
            <a class="pre" onclick="move(-1)">&#10094;</a>
            <a class="next" onclick="move(1)">&#10095;</a>
            <div class="small-slide">
                <img width="400px" height="200px" src="/assets/images/imageslide/anh22.png" alt="">
                <img width="400px" height="200px" src="/assets/images/imageslide/Anh-shopee-1.jpg" alt="">
            </div>
        </div>
    <div class="icon-menu col">
            <div class="icon">
                <a href=""><img width="50px" height="50px" src="/assets/images/icon-menu/anh1.png" alt="">
            <p>Khung giờ săn sale</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh2.png" alt="">
                <p>Miễn phí vận chuyển</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh3.png" alt="">
                <p>Voucher Giảm Đến 200.000Đ</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh4.png" alt="">
                <p>Hàng Hiệu Outlet Giảm</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh5.png" alt="">
                <p>Mã Giảm Giá</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh6.png" alt="">
                <p>Bắt Trend - Giá Sốc</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh7.png" alt="">
                <p>Nạp Thẻ, Dịch Vụ & Data</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh8.png" alt="">
                <p>Hàng Quốc Tế</p></a>
            </div>
            <div class="icon">
                <a href=""><img  width="50px" height="50px" src="/assets/images/icon-menu/anh9.png" alt="">
                <p>Gì Cũng Rẻ - Mua Là</p></a>
            </div>
        </div>
    </header>
<script src="/assets/js/slide.js"></script>