<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/layout/index::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="/assets/css/style.css"> <!-- Đường dẫn đến tệp CSS của bạn -->
</head>
<body>
    <main>
        <div class="main-header">
            <img width="30px" height="30px" src="/assets/images/giohang/freeship.png" alt="">
            <p>Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!</p>
        </div>
        <div class="select">
            <input class="ip-checkbox" type="checkbox" name="sanpham">
            <p class="sanpham">Sản Phẩm</p>
            <p class="dongia">Đơn Giá</p>
            <p class="soluong">Số Lượng</p>
            <p class="sotien">Số Tiền</p>
            <p class="thaotac">Thao Tác</p>
        </div>
        
        <div class="container-main">
   
        </div>

        <div class="muahang">
            <div class="shoppe-voucher">
                <img width="25px" height="20px" src="/assets/images/giohang/voucher.png" alt=""> 
                <p>Shopee Voucher</p>
                <a href="#1">Chọn hoặc nhập mã</a>
            </div>
            <div class="shoppe-xu">
                <input class="ip-checkbox1" type="checkbox" name="sanpham">
                <img width="35px" height="30px" src="/assets/images/giohang/xu.png" alt="">
                <p>Shoppe Xu</p>
                <p style="margin-left: 20px;">Bạn chưa chọn sản phẩm nào</p>
                <p style="margin-left: 180px;">-<u style="font-size: 10px; margin-left: 10px;">đ</u>0đ</p> 
            </div>
            <div class="all-muahang">
                <input style="margin-top: 5px;" class="ip-checkbox" type="checkbox" name="sanpham">
                <p>Chọn Tất Cả(1)</p>
                <p style="margin-left: 20px;">Xóa</p>
                <p style="margin-left: 40px;">Bỏ sản phẩm không hoạt động</p>
                <p style="color: red; margin-left: 20px;">Lưu vào mục Đã thích</p>
                <div>
    		    <span>Tổng thanh toán(1 sản phẩm):</span> 
     		   <span style="color: red; font-size: 20px;">
            <u style="font-size: 10px;">đ</u>0
     		   </span>
 		   </div>
                <div class="muahang-last"><a href="#1">Mua Hàng</a></div>
            </div>
        </div>
    </main>

</body>
</html>
