<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
<main>
	<div class="container-fluid chat-container">
		<div class="sidebar">
			<div class="search-bar">
				<form action="/api/messages/search" method="get">
					<input type="text" name="fullname" placeholder="Tìm kiếm liên hệ...">
					<button type="submit">Tìm kiếm</button>
				</form>
			</div>
		
	<div class="contact-list" th:each="chat :${chatConversations}">
		<div class="contact">
			<!-- Hiển thị thông tin người đối diện -->
			<span id="chatId" th:text="${chat.id}" style="display:none;"></span>

			<!-- Kiểm tra người dùng hiện tại và hiển thị thông tin người đối diện -->
			<img th:src="@{|/assets/images/avatas/${(account.username == chat.userOne.username) ? chat.userTwo.photo : chat.userOne.photo}|}" 
			     alt="User" class="contact-img">

			<div class="contact-details">
				<a th:href="@{/api/messages/chat/{recipientId}(recipientId=${(account.username == chat.userOne.username) ? chat.userTwo.username : chat.userOne.username})}">
					<span th:text="${(account.username == chat.userOne.username) ? chat.userTwo.fullname : chat.userOne.fullname}"></span>
				</a>
				<p class="contact-last-message"></p>
		
		</div>
	</div>
</div>

		</div>
		<div class="chat-box">
			<div class="message-header">
                <!-- Hiển thị thông tin đối phương dựa trên người dùng hiện tại -->
                <img alt="user" th:src="@{|/assets/images/avatas/${(account != null && conversation != null && account.username == conversation.userOne.username) ? conversation.userTwo.photo : (conversation != null ? conversation.userOne.photo : '')}|}">
                <span th:text="${(account != null && conversation != null && account.username == conversation.userOne.username) ? conversation.userTwo.fullname : (conversation != null ? conversation.userOne.fullname : '')}"></span>

                <!-- Hidden field để lưu recipientId -->
                <input type="hidden" id="receiver" th:value="${(account != null && conversation != null && account.username == conversation.userOne.username) ? conversation.userTwo.username : (conversation != null ? conversation.userOne.username : '')}">
				
			</div>
			
			<div class="messages" id="messages">
    	<ul class="message">
   	 <li th:each="m :${message}" class="chat-message" 
    	    th:classappend="${m.sender.username == account.username} ? 'sender' : 'recipient'">
        <img th:if="${account.username != m.sender.username}" alt="user" th:src="@{|/assets/images/avatas/${m.sender.photo}|}">
       	 <div class="content ms-1" th:text="${m.content}"></div>
    </li>
</ul>

    </div>
			<form id="messageForm" name="messageForm">
				<div class="input-group">
					<input type="text" id="messageInput" autocomplete="off" class="form-control" placeholder="Type your message...">
					<button class="btn btn-primary" type="submit" id="sendMessageButton">Send</button>
				</div>
			</form>
		</div>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/assets/js/message.js"></script>
<script type="text/javascript">

    var conversation = document.getElementById("chatId").innerText; 
    var username = document.getElementById("receiver").value;

    connect(); // Gọi hàm kết nối WebSocket */


</script>
</main>
</body>
</html>
